h1
{
color:violet;
text-align:center;
}

body
{
background-image:url(https://cdn1.vectorstock.com/i/1000x1000/74/95/library-background-pile-books-open-vector-30497495.jpg);
background-repeat:no-repeat;
background-size:cover;

}